*{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: inherit;
}

div .guest-layout{
    min-height: 100vh;
    min-width: 100%;
    background-color:#2E344C;
    display: flex;
    flex-direction: row;
}
div .hero-side{
    display: flex;
    flex-direction: column;
    background-color: #2E344C;
    width: 60%;
    color: white;
    text-align: center;
    justify-content: center;
}
div .outlet-side{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #446285;
}
div .sign{
    width: 80%;
    color: white;

}
div .sign h1{
    text-align: center;
    margin-bottom: 2vh;
    font-weight: 600;
    
}



div .login-background{
    color:#fff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width:350px;
    height:400px;
    background-color:#76779c;
}
/*Login*/
.login-form-title{
    margin-left: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}
div .login-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}
div .login-inputs input{
    width: 90%;
    height: 30px;
    margin-top: 0.5rem;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    
}
div .login-inputs input::placeholder{
    color: white;
    font-size: 1.2rem;
    text-align: center;
}
div .login-inputs input:focus{
    outline: none;
    
}
div .submit-btn{
    display: flex;
    justify-content: center;
}
div .submit-btn button{
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
div .submit-btn button {
    background-color: white; 
    color: black; 
    border: 2px solid #04AA6D;
  }
div .submit-btn button:hover {
    background-color: #04AA6D;
    color: white;
  }
div .login-help{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
div .rem-me {
    display: flex;
    justify-content: center;
    align-items: center;

}
div .rem-me input{
    margin-left: 1rem;
    margin-right: 2px;
}
div .login-help a{
    margin-right: 1rem;
    color: aqua;
}
div .login-help p{
    margin-left: 1rem;
    text-align: center;

}
div .new-user{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-top: 1rem;
}
div .new-user h3{
    margin-right: 0.5rem;
}
div .new-user a{
    font-size: 1.2rem;
    color: aqua;
}

/*default layout*/

div .defult-layout{
    display: flex;
    flex-direction: row;
    min-width:100%;
    min-height: 100vh;
}

aside{
    display: flex;
    flex-direction: column;
    min-width: 15%;
    background-color: #404e66;
    align-items: center;
    justify-content: space-between;
}
div .main-buttons{
    display: flex;
    flex-direction: column;
    min-width: 90%;
    margin-top: 2rem;
}
div .main-buttons a{
    font-size: 1.5rem;
    display: flex;
    color: #bbc6d8;
    height: 40px;
    transition: ease .5s;
    margin-bottom: .5rem;
}

div .main-buttons a:hover{
    scale: 1.01;
    color: #c57477;
}
div .other-buttons{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 2rem;
}
div .other-buttons a{
    font-size: 1.5rem;
    display: flex;
    color: #bbc6d8;
    height: 40px;
    transition: ease .5s;
    margin-bottom: .5rem;
}

.acconut-cls:hover{
    scale: 1.01;
    color: #14d29a;
}
.logout-cls:hover{
    scale: 1.01;
    color: #d26675;
}
div .default-content {
    min-width: 100%;
    background-color: #f4f5fa;
}
div .testA{
    box-sizing: border-box;
}
div .nav_icons{
    display: flex;
    gap: 0.5rem;
}
div .nav_icons button{
    background: none;
    border: none;
    padding: 0;
}
div .default-header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 8vh;
    background-color: #ffffff;
    box-shadow: 5px 5px 15px #b2b9d4;
    
}
/*cart */
div .cart-outer{
    width: 50vw;
    height: 75vh;
    display: flex;
    justify-content: flex-start;
    box-shadow: 5px 5px 15px #acaaaa;
    border-radius: 0.5rem;
}
div .cart-left-side{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 60vw;
    border-top-left-radius:.5rem ;
    border-bottom-left-radius: .5rem;
}
div .cart-left-side h3{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
div .cart-title-div{
    display: flex;
    justify-content: space-around;
    padding-top: .2rem;
    color: black;
    max-height: 15vh;
    font-weight: 600;
    font-size: 1.6rem;
    border-bottom: 2px solid rgb(148, 135, 135);
}
div .tac{
    display: flex;
    flex-direction: row;
}
div .cart-right-side{
    width: 40vw;
    background-color: #cfbbbb;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top-right-radius:0.5rem;
    border-bottom-right-radius: 0.5rem;
}
div .cart-right-side h3{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

div .closebutton {
    display: flex;
    justify-content: end;
    margin-top: 4px;

}
div .Oder-Summary-info{
    height:43vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
div .Summary-cart{
    padding-left: .4rem;
    padding-right: .8rem;
    display: flex;
    justify-content: space-between;
}
div .checkout-cart{
    border-top: 2px solid rgb(148, 135, 135);
    padding-top: .2rem;
}
div .checkout-btn-div{
    display: flex;
    justify-content: center;
    
}
div .checkout-btn-div button{
    width: 60%;
}
.checkout-btn:hover {
    background-color: #348dec; /* Darker color on hover */
  }
div .oder-items-cart table td{
    border: none;
}
div .oder-items-cart table th {
    border: none;
    opacity: .4;
}
.oder-items-cart table td input{
    width: 3rem;
    border: none;

}
div .ThreeDots-wrapper{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
div .oder-items-cart{

    max-height: 60vh;
    overflow: auto;
}
div .osi{
    width:80px;
    background-color: #a6ebd6;
    border: none;
    text-align: end;
}
div .osi:focus{
    outline: none;
}
td input{
    background-color: #a6ebd6;
    text-align: center;
}
td input:focus{
    outline: none;
    
}


/* div .oder-items-cart td{
    border: none;
}
div .oder-items-cart th{
    border: none;
} */
#testcart{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*component status bar cards */
div .main-dashboard-Card{
    min-height:20vh;
    display: flex;
    flex-direction: column;
    width: 23%;
}
div .main-card-body{
    height: 13vh;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-shadow: 5px 5px 15px #b2b9d4;
}
div .main-card-body img{
    width: 3rem;
}

div .main-card-titles{
    height: 7vh;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: #ffffff;
}
div .main-card-titles img{
    width: 2rem;
}
/*dashboard charts*/
div .mainChart{
    height: 45vh;
    width: 65%;
    margin-top: 2vh;
    box-shadow: 5px 5px 15px #b2b9d4;
}
div .chartData{
    background-color: #04AA6D;
}
div .chartTitle{
    padding-top:.5rem;
    padding-left:.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
}
/*dahboard button*/
div .dashboardButton{
    display: flex;
    flex-direction: column;
    min-height: 45vh;
    width: 30%;
    margin-top: 2vh;
    box-shadow: 5px 5px 15px #b2b9d4;
}
div .no-display{
    display: none;
}
div .top-sales{
    margin: .2rem;
}
div .top-sales p{
    font-weight: 600;
    color: #5c5d5f;
}

div .chartTitle h3{
    font-size: 1.2rem;
    font-weight: 500;
    color: #5c5d5f;
}
div .chartTitle p{
    font-size: .75rem;
    color: #5c5d5f;
}
div .chartData{
    height: 35vh;
    width: 100%;
}
div .chartData img{
    width: 100%;
    height: 100%;
}

/*dashboard */
div .dashboard{
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    align-items: center;
    padding-top: 2vh;
    padding-left: .5rem;
    padding-right: 0.5rem;
}
div .dashboard-welcome{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 20vh;
}
div .dashboard-status{
    height: 45vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;

}
div .dashboard-buttons{
    display: flex;    
    width: 100;
    margin-top: 4vh;
    height: 20vh;
    background-color: #ffffff;
    padding: 1rem;
    justify-content:center;
    align-items: center;
    box-shadow: 5px 5px 15px #b2b9d4;
}



/* card comp*/
div .card{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 25vh;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    box-shadow: 5px 5px 15px #999;

}
div .card-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    text-align: center;
    font-size: 3rem;
    background-color: bisque;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
div .card-title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    text-align: center;
    font-weight: 600;
    background-color: #76779c;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: white;
    margin-bottom: 0;
}

/*dashboard buttons*/
div .button-row-mobi{
    display: none;
}
div .button-row{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
}

div .button-row a{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 15vh;
    background-color:white ;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: aqua;
    background-color: #5459e7;
    box-shadow: 5px 5px 15px #e74c4c;
    transition: ease .5s;
}
div .button-row a:hover{
    scale: 1.05;
}
div .dashboard-off{
    display: none !important; 
 }
div .dashboard-loading-off{
    display: none !important;
}
div .dashboard-loading{
    display: flex;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
}

/*product page */

div .product-table{
    width: 100%;
}

/* account page */

div .user-profile{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 48vh;
    background-color: #D9D9D9;
    margin-top: .2rem;
}
div .profile-logo{
    height: 45vh;
    width: 40%;
    justify-content: center;
    align-items: center;
    background-color: #ccb4b4;
    box-shadow: 5px 5px 15px #9c8c8c;
    border-radius: .5rem;
}
div .user-info{
    height: 45vh;
    width: 55%;
    justify-content: center;
    align-items: center;
    background-color: #ccb4b4;
    box-shadow: 5px 5px 15px #9c8c8c;
    border-radius: .5rem;
    flex-direction: column;
}
div .user-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 70%;
    background-color: #446285;
    box-shadow: 5px 5px 15px #9c8c8c;
    border-radius: .5rem;
    color: white;
    margin-top: 1vh;

}
div .user-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    margin-top: 2vh;
    margin-bottom: 1vh;
    height: 25vh;
    width: 70%;
    background-color: #2E344C;
    color: white;
    background-color: #446285;
    box-shadow: 5px 5px 15px #9c8c8c;
    border-radius: .5rem;
    color: white;

}
div .user-data p{
    margin-left: 1rem;

}
div .btns-for-profile{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 42vh;
    justify-content: space-between;
    
    
}
div .btns-for-profile a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 15vh;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: aqua;
    background-color: #5459e7;
    box-shadow: 5px 5px 15px #e74c4c;
    transition: ease .5s;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}
div .btns-for-profile a:hover{
    scale: 1.05;
}
div .not-found{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #5C6468;
}
div .not-found h1{
    font-size:12rem;
    color: #eb4343;
}
div .not-found h3{
    font-size:2rem;
    color: whitesmoke;
}
div .not-found p{
    font-size:1rem;
    color: whitesmoke;
    margin: 1rem;
    text-align: center;
}
div .not-found a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 10vh;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: aqua;
    background-color: #34145f;
    box-shadow: 5px 5px 15px #cc5f5f;
    transition: ease .5s;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
div .not-found a:hover{
    scale: 1.05;
}

/*invoice page */

div .invoice{
    display: flex;
    flex-direction: column;
    min-height: 92vh;
}
div .Search-product{
    width: 100%;
    height: 10vh;
    background-color:#cc5f5f;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
}
div .search-info input{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
div .Search-product input{
    height: 30px;
    margin-top: 0.5rem;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    
}
div .Search-product input::placeholder{
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

div .Search-product input:focus{
    outline: none;
    color: rgb(215, 233, 231);
    
}

div .bill-table{
    align-items: center;
    height: 72vh;
    background-color: #2E344C;
    overflow-y: scroll;
}
div .bill-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color:#34145f ;
}

/*add new product*/

div .NewProduct{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    color:  rgb(49, 56, 70);
}

/*update product*/
/* div .button-row-update{
    display: none;
} */
div .button-row-update{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem;
}

div .button-row-update a{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 5vh;
    background-color:white ;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: aqua;
    background-color: #5459e7;
    box-shadow: 5px 5px 15px #6c48ee;
    transition: ease .5s;
}
div .button-row-update a:hover{
    scale: 1.02;
}
/*product page*/
div .product-input input{
    width: 'fit-content';
}