@media only screen and (max-width: 800px) {
    body {
      background-color: rgb(255, 255, 255);
      .guest-background{
        width:30px !important;
        height:350px;
      }
    }
    div .hero-side{
        width: 100%;
        height: 16vh;
        color: white;
        text-align: center;
        justify-content: center;
    }
    div .card-title h3{
        font-size: 1rem;
    }
    div .outlet-side{
        margin-top: 4vh;
        height: 80vh;
        width: 100%;
        background-color: #446285;
    }
    div .guest-layout{
        flex-direction: column !important;
    }
    aside{
        display: none;
    }
    div .default-content {
        min-width:100%;
    }
    div .button-row{
        display: none;
    }
    div .button-row-mobi{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 2rem;
    }
    div .button-row-mobi a{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 15vh;
        background-color:white ;
        border-radius: 1rem;
        font-size: 1rem;
        font-weight: 600;
        color: aqua;
        background-color: #5459e7;
        box-shadow: 5px 5px 15px #e74c4c;
        transition: ease .5s;
    }



    div .card{
        height: 20vh;
    }
    div .user-profile{
        flex-direction: column;
        background-color:transparent;
        align-items: center;
        height: 50vh;
    }
    div .profile-logo{
        width: 90%;
    }
    div .profile-logo img{
        height: 26vh;
        margin: 1vh;
    }
    div .user-info{
        width: 90%;
    }
    div .user-data{
        font-size: 1rem;
    }
    div .btns-for-profile a{
        text-align: center;
        font-size: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        margin-bottom: 2rem;
        height: 10vh;
    }
    div .not-found a{
        margin-top: 5vh;
        font-size: 1rem;
        width: 50%;
        height: 10vh;
        text-align: center;
    }
    div .Search-product input::placeholder{
        color: rgb(20, 1, 1);
        font-size:small;
        text-align: center;
    }
    div .Search-product{
        height: fit-content;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .5rem;   
    }
    div .search-info{
        display:flex;
        flex-direction: row;
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }
    div .search-info input{
        display:flex;
        flex-direction: row;
        max-width: 28%;
    }
    div .search-btn{
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    div .main-card-titles img{
        display: none;
    }
    div .main-card-body img{
        width: 2rem;
    }
    div .main-card-body{
        flex-direction: column;
    }
    div .main-card-titles{
        text-align: justify;
        font-size: .7rem;
        text-align: center;
        padding: 0;
    }
    div .mainChart{
        width: 90vw;
    }
    div .dashboardButton{
        width: 90vw;
        min-height:auto;

    }
    div .dashboard-status{
        flex-direction: column;
        height: auto;
    }
    div .dashboard-buttons{
        display: none;

    }
    .btn-tit{
        margin: 1rem;
        margin-top: 2vh;
        padding: 1rem;
        box-shadow: 5px 5px 15px #b2b9d4;

    }
    .dash-btns{
        display: flex;
        flex-wrap: wrap;
        gap: .4rem;
    }
    .dash-btn{
        width: 96px;
        height: 36px;
        background-color:rgb(37, 150, 190);
        border: 1px solid #76b5c5;
        color: #ffffff;
    }
    .no-dis-mb{
        display: none;
    }
    .cart-outer{
        flex-wrap: wrap;
        width: 90vw;
    }
    .cart-left-side{
        width: 90vw;
        min-height: 64dvh;
    }
    .cart-right-side{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90vw !important;
    }
    .cart-title-div{
        width: 90vw;
    }
    .oder-items-cart{
        width: 90vw;
    }
    .cart-t-d-2{
        display: none !important;
    }
    .Oder-Summary-info{
        margin-top: 1rem;
        min-height:5vh;
        display: flex;
        flex-direction: column;
    }

  }